html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #090909;
    color: #090909;
    backdrop-filter: blur(10px); 
    background-color: rgba(0, 0, 0, 0.3);
    
}

main{
    flex: 1 0 auto;
}

header{
    background: no-repeat center;
    background-size: cover;
    filter: grayscale(.5);
    
}

.hiho{
    font-size: 10vw;
    letter-spacing: 3px;
    color: white;
    text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
    background: url("coll1.jpg") repeat-y;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: anim 80s linear infinite;
}

@-webkit-keyframes anim {
    0% {
        background-position: 0% 50%;
    }

100% {
    background-position: 100% 50%;
   }
}

    

.color-overlay{
    background-color: rgba(0,0,0,0,4);
    min-height: 60vh;
}


@media(max-width: 768px){
    .color-overlay{
        min-height: 30vh;
    }
    
}


.navvty {
    background-color: #595959;    
}

.navbar-light .navbar-toggler{
    color: white;
    border-color: gainsboro;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.8), 0 0 10px rgba(0, 255, 0, 0.6), 0 0 15px rgba(0, 255, 0, 0.4);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.8), 0 0 30px rgba(255, 0, 0, 0.6), 0 0 40px rgba(255, 0, 0, 0.4);
    
  }
  100% {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.8), 0 0 10px rgba(0, 255, 0, 0.6), 0 0 15px rgba(0, 255, 0, 0.4);
    
  }
}

.navbar-light .navbar-toggler {
  animation: glowing 2s infinite;
}


.nav-link{
    font-size: 20px;
    
}

.singleCol{
   max-width: 750px; 
}


.pogi{
    filter: grayscale(.5);
    mix-blend-mode: multiply;
    
}

img{
    filter: grayscale(.5);
}

.card-body{
    background: grey;
}

.card-title{
    color: white;
}

.card-text{
    color: black;
}



.form-control{
    background: #BBB8B1;
}




a{
    color: black;
}



.btn-primary{
        width: 80px;
        height: 30px;
        cursor: pointer;
        color: #fff;
        font-size: 17px;
        border-radius: 1rem;
        border: none;
        position: relative;
        background: black;
        transition: .5s;
         }
         .btn-primary::after{
            content: "";
            width: 100%;
            height: 100%;
            background-image: radial-gradient(circle
            farthest-corner at 10% 20%, rgba(255,94,247,1)17.8%,
            rgba(2,245,255,1)100.2%);
            filter: blur(15px);
            z-index: -1;
            position: absolute;
            left:0;
            top:0;
            
         }
         .btn-primary:active{
            transform: scale(0.9)rotate(3deg);
            background-image: radial-gradient(circle
            farthest-corner at 10% 20%, rgba(255,94,247,1)17.8%,
            rgba(2,245,255,1)100.2%);
            transition: 0.5s;
            

         }




@keyframes glowing {
  0% {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.8), 0 0 10px rgba(0, 255, 0, 0.6), 0 0 15px rgba(0, 255, 0, 0.4);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.8), 0 0 30px rgba(255, 0, 0, 0.6), 0 0 40px rgba(255, 0, 0, 0.4);
    
  }
  100% {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.8), 0 0 10px rgba(0, 255, 0, 0.6), 0 0 15px rgba(0, 255, 0, 0.4);
    
  }
}

.btn-outline-dark {
  animation: glowing 2s infinite;
}




footer{
    background-color: #0A0A0A;
           
}

footer{
    flex-shrink: 0;
}

footer a{
    color: white;
}


/* Custom styles for footer icons */
a.me-4:hover .bi-facebook {
    fill: blue;
}

a.me-4:hover .bi-instagram {
    fill: pink;
}

a.me-4:hover .bi-github {
    fill: #c46aff;
}

a.me-4:hover .bi-twitter {
    fill: brown;
}

a.me-4:hover .bi-telegram {
    fill: red;
}

